<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Sitecore.Client" version="8.2.5" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.5" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Common" version="1.4.0" targetFramework="net452" />
</packages>